PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=jitu
DB_PORT=3306
ADMIN_SECRET_KEY=admin_password_here
JWT_SECRET=your_jwt_secret_here
CORS_ORIGINS=http://localhost:5665,http://192.168.1.3:5665